<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
hello 1st thymeleaf application
<div th:text="${name}">Name is Offline</div>
</body>
</html>