<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
</head>
<body>
<div class="container mt-5">
    <div class="card" style="width: 25rem;">
        <div class="card-header text-center bg-info ">
            <h3>Successfully Registered!!!</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Preferred Name:</label>
                <span th:text="${member.preferredName}"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <span th:text="${member.email}"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <span th:text="${member.password}"></span>
            </div>
            <div class="form-group">

            </div>
        </div>

    </div>
</div>
</div>
<script type="text/javascript">
//Data Picker Initialization
$('.datepicker').datepicker();
</script>
</body>
</html>